@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
header{
    background: linear-gradient( rgb(106, 230, 252), aliceblue);
    width: 100%;
    top: 0;
    text-align: center;
    font-size: 12px;
    padding: .5rem;
    height: 70px;
    position: fixed;
    
}
body {
    margin-top: 70px;
    height: calc(100vh - 100px);
    background-color:aliceblue;
}
main {
    margin: 0 auto;
    padding: 15px 0;
    
}
h2 {
    text-align: center;
    margin-bottom: 10px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    color: rgb(69, 69, 70);
}
input {
    text-align: center;
    padding: 8px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.342);
    border-radius: 10px;
    width: 250px;
}
input:focus-visible {
    outline-color: rgb(105, 162, 248);
}
input::placeholder {
    color: rgb(190, 194, 199);
}
#calcular_multa {
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient( 45deg, rgb(106, 230, 252),rgb(112, 150, 184), rgb(106, 230, 252));
    
    margin: 10px 0;
}
#calcular_multa:hover {
    background: linear-gradient( 45deg, rgb(112, 150, 184),rgb(106, 230, 252), rgb(112, 150, 184));
}
#limpar_form {
    background: linear-gradient( 45deg, rgb(0, 112, 103),rgb(112, 150, 184), rgb(0, 112, 103));
    color: white;
    font-size: 18px;
}
#limpar_form:hover {
    background: linear-gradient( 45deg, rgb(112, 150, 184),rgb(0, 112, 103), rgb(112, 150, 184));
}
#div_containner {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem 0 2rem;
}
#div_containner p {
    margin-bottom: 10px;
}
footer {
    background: linear-gradient( aliceblue, rgb(106, 230, 252));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}
@media screen and (min-width: 1024px) {
    body {
        display: flex;
        align-items: center;
    }
    h2 {
        margin-bottom: 30px;
    }
    #calcular_multa {
        margin: 20px 0;
    }
    
}